@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&family=Mukta:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;

}

/*Main css*/
.main {
  background-color: #0f0f0f;
  color: #fff;
  width: 100%;
  min-height: 100vh;
}

.main .body-container {
  display: flex;
  width: 100%;
  padding: 70px 100px;
}

.main .body-container .left {
  width: 65%;
}

.main .body-container .left section {
  background-color: #282828;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;

}

.main .body-container .left section h2 {
  margin-bottom: 15px;
}

.main .body-container .left section.projects article {
  width: 100%;
}

.main .body-container .left section.projects article .featured-img {
  width: 100%;
  height: 350px;
  border-radius: 15px;
}

.main .body-container .left section.projects article h3 {
  margin: 15px 0px;
}

.main .body-container .left section.projects article .btn-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.main .body-container .left section.projects article .btn-link .btn {
  background-color: #0d6e3e;
  color: #fff;
}



.main .body-container .left section.projects article.article-item .left{
  display: block;
  justify-content: center;
margin: 15px 0px;
width: 95%;
}



.main .body-container .left section.projects article.article-item .left img {
  margin-bottom: 15px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.in-progress {
  color: red; /* Vous pouvez personnaliser les styles selon vos préférences */
  font-weight: bold;
}
/*right section*/
.main .body-container .left section.projects article.article-item .right {
  width: 75%;
}

.main .body-container .left section.projects article.article-item .right p {
  margin: 10px 0;
  text-align: justify;
}

.main .body-container .left section.xp article {
  margin: 20px 0;
}
.main .body-container .left section.xp article ul {
  list-style-type: none;

}



/*Header css*/
header {
  width: 100%;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  height: 300px;
}


header .left {
  display: flex;
  align-items: center;
  color: #fff;
}

header .left img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

header .left .contacts {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

header .left .contacts .contact-item {
  margin-right: 10px;
  padding: 10px;
  background-color: #3a3939;
  border-radius: 50%;
  cursor: pointer;
}

header .left .contacts .contact-item:hover {
  background-color: #535353;
}

header .right .contact-btn {
  background-color: #0d6e3e;
  color: #fff;
  font-size: 16px;
  border: none;
}

/*aside css*/

aside{
width : 35%;
margin-left:10px;
color:#fff;
}

aside .section{
  width:100%;
  background-color: #282828;
  padding:15px;
  border-radius: 15px;
  margin-bottom:15px;
}

aside .section h2{
  margin-bottom: 10px;
}
aside .section ul{
  list-style-type: none;
}
aside .section li{
  margin-bottom: 3px;
}
aside .contacts .contact-item {
  margin: 15px 0px;
}

aside .contacts .contact-item a{
  color: #0d6e3e;
}

aside .contacts .contact-item span{
  margin-left:10px;
}

aside .skills .skills-list {
  margin-top:10px;
}
aside .skills .skills-list .skill-item{
  margin-bottom: 15px;
}
aside .skills .skills-list .skill-item .full{
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background-color: #fff;
  

}
aside .skills .skills-list .skill-item .percent-first {
  width: 80%;
  height: 15px;
  background-color: #0d6e3e;
}
aside .skills .skills-list .skill-item .percent-second {
  width: 90%;
  height: 15px;
  background-color: #0d6e3e;
}
aside .skills .skills-list .skill-item .percent-third {
  width: 80%;
  height: 15px;
  background-color: #0d6e3e;
}
aside .skills .skills-list .skill-item .percent-fourth {
  width: 60%;
  height: 15px;
  background-color: #0d6e3e;
}

aside .education-item{
  margin:10px 0px;
}


aside .language-item h3, .language-item .level {
  display: block;
}

aside .language-item .level {
  text-align: right;
}

/*footer css*/

footer {
  background-color: #282828;
  text-align: center;
  color: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Media queries*/

@media (max-width: 610px) {
  .main header {
    flex-direction: column;
    padding: 25px 0;
    height: 400px;
  }
  .main header .left {
    flex-direction: column;
    text-align: center;
    text-align: center;
  }
  header .left .contacts {
    justify-content: center;
    padding-bottom: 10px;
  }
  header .left .contacts .contact-item{
    padding: 0px;
  }
}

@media (max-width: 1000px) {
  .main .body-container {
    flex-direction: column;
    padding: 50px 30px;
  }

  .main .body-container .left {
    width: 100%;
  }

  aside {
    width: 100%;
  }
}

@media (max-width: 740px) {
  .main .body-container .left section.projects article.article-item {
    flex-direction: column;
  }

  .main .body-container .left section.projects article.article-item .left {
    width: 100%;
  }

  .main .body-container .left section.projects article.article-item .right {
    width: 100%;
  }
}